.toDoList{
  list-style: inherit;
  margin-top: 15px; 
  padding-left: 30px;
}

.location_list{
  list-style: inherit;
  margin-top: 15px; 
  padding-left: 30px;
}

.keyword_list{
  list-style: inherit;
  margin-top: 15px; 
  list-style-type: none;
}

.street_address_input{
  width: 70% !important;
  float:left;
}

.zip_input{
  width:20% !important;
  float:left;
  margin-left: 10% !important;
}

.organization_profile-logo{
  float:left;
  clear: both;
}

.label-span{
  float: left;
}

.create_organization-link {
  font-family: Quicksand,sans-serif;
  font-size: 16pt;
  text-decoration: none;
  font: black;
  float: left;
  background: white;
  border: 1px solid white;
}
.create_organization-link_span {
  color: white;
  background: black;
  border: 1px solid black;
  padding: 2px 3px;
  margin-left: 5px;
  float:right;
}
.create_organization-link_span:hover {
  color: black;
  background: white;
}

.profile_description-counter {
  float: right;
  margin: 0;
}