.toDoList{
  list-style: inherit;
  margin-top: 15px; 
  padding-left: 30px;
}

.location_list{
  list-style: inherit;
  margin-top: 15px; 
  padding-left: 30px;
}

.keyword_list{
  list-style: inherit;
  margin-top: 15px; 
  list-style-type: none;
}

.street_address_input{
  width: 70% !important;
  float:left;
}

.zip_input{
  width:20% !important;
  float:left;
  margin-left: 10% !important;
}

.organization_profile-logo{
  float:left;
  clear: both;
}

.label-span{
  float: left;
}

.deal_begin_date {
  margin: 10px 0 20px 0;
}

.create_organization-link {
  font-family: Quicksand,sans-serif;
  font-size: 16pt;
  text-decoration: none;
  font: black;
  float: left;
  background: white;
  border: 1px solid white;
}
.create_organization-link_span {
  color: white;
  background: black;
  border: 1px solid black;
  padding: 2px 3px;
  margin-left: 5px;
  float:right;
}
.create_organization-link_span:hover {
  color: black;
  background: white;
}

.profile_description-counter {
  float: right;
  margin: 0;
}

.deal-button {
  padding: 20px 5px 20px 0;
}

.deal_list {
  padding: 20px 0;
}

.deals_header {
  width: 100%;
}

.deals_description {
  float:left;
  width: 80%
}
.deals_limit {
  float:right;
  width: 20%;
  text-align: center;
}

.bank_data-dob_month {
  float:left;
  margin-right: 5px;
}

.bank_data-dob_day {
  float: left;
  margin-right: 5px;
}

.bank_data-dob_month {
  float: left;
  margin-right: 5px;
}

.bank_data-dob {
  margin: 5px 0 10px 0;
} 

.dialpad-display {
    border: 1px solid #AAA;
    padding: 20px;
    font-size: 20px;
    width: 295px;
    text-align: right;
    height: 25px;
}

.dialpad {
    margin: 0; 
    padding:0;
    overflow: hidden;
    border: 1px solid #CCC;
    width: 100%;
}

.dialpad-element {
    float: left;
    border: 1px solid #CCC;
    background-color: #555;
    color: White;
    padding: 20px;
    width: 33%;
    height: 60px;
    text-align: center;
}

.redeem_success-happy_button {
  font-family: 'Quicksand', sans-serif;
  font-size: 24pt;
  text-decoration: none;
  font:black;
  float:left;
  margin: 5px 10px;
  background: white;
  border: 1px solid white;
}

.redeem_success-unhappy_button {
  font-family: 'Quicksand', sans-serif;
  font-size: 24pt;
  text-decoration: none;
  font:black;
  clear:right;
  margin: 5px 10px;
  background: white;
  border: 1px solid white;
}