.Organization_is_business-button{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-decoration: none;
  font:black;
  float:left;
  margin: 15px 5px 10px 15px;
  background: white;
  border: 1px solid white;
}

.Organization_is_fundraiser-button{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-decoration: none;
  font:black;
  float:right;
  margin: 15px 15px 10px 5px;
  background: white;
  border: 1px solid white;
}


.Organization_is_business-button:hover {
  border: 1px solid black;
  cursor: pointer;
}

.Organization_is_fundraiser-button:hover {
  border: 1px solid black;
  cursor: pointer;
}