/* LocationList component */
.location-list{
    margin-top: 30px;
}

.location-list__location__street {
    
    padding: 6px 0;
    margin: 10px 0;
    font-size: 16px;
    width: 80%;
}

.locaton-list__location__zip {
    font-size: 16px;
    padding: 6px 0;
    width: 75px;
    margin:10px 0 10px 5%;

}

.location-list__location__star {
    padding-right: 25px;
}