.Organization_type_button {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-decoration: none;
  font:black;
  float:left;
  margin: 15px 5px 10px 15px;
  background: white;
  border: 1px solid white;
}

.Organization_type_button:hover {
  border: 1px solid black;
  cursor: pointer;
}

.wizard_browse_button {
  font: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-decoration: none;
  font-color: white;
  position: relative;
  left: 35%;
  background: white;
  border: 1px solid black;
}
