.loginwrap{
    width: 60%;
    margin: 150px auto;
}

.login__input {
    width: 100%;
    padding: 6px 0;
    margin: 10px 0;
    font-size: 16px;
}

.login {
    width: 250px;
    margin: 20px 20px 20px 20px;
    float: left;
}

.login__button{
    background: rgb(97, 150, 189);
    color: white;
    border: black;
    padding: 10px;
  	width: 100%;
}

.register__input {
    width: 100%;
    padding: 6px 0;
    margin: 10px 0;
    font-size: 16px;
}

.register {
    width: 250px;
    margin: 20px 20px 20px 100px;
    float:left;
}

.register__button{
    background: rgb(97, 150, 189);
    color: white;
    border: black;
    padding: 10px;
    width: 100%;
}
