.deal_header{
  font-family: 'Quicksand', sans-serif;
  font-size: 24pt;
  text-decoration: none;
  font:black;
  margin: 10px 0;
}

.free_deal_input{
  width:80% !important;
  float:left;
  margin-top: 0 !important;
}

.deal-input {
  border: 1px solid #cdcdcd;
  display: block;
  font-size: 16px;
  margin: 0 10px;
  padding: 5px;

  background-color: white;
  width: 300px;
  float: left;
}

.dox_deal-input {
  border: 1px solid #cdcdcd;
  display: block;
  font-size: 16px;
  margin: 0 10px;
  padding: 5px;

  background-color: white;
  width: 75px;
  float: left;
}

.dollar_value-input {
  width: 75px !important;
}

.deal_text-left{
  float:left;
  margin-top:5px;
  margin-right: 10px;
}

.deal_text2-left {
  float:left;
  margin-top:5px;
  margin-right: 13px;
}

.deal_text-right{
  float:left;
  margin-top: 5px;
}

.deal_contents{

}

.deal_limit{
  clear:both;
  padding: 5px 0;
}

.required_amount{
  clear:both;
  float:left;
}

.deal-row {
  overflow: hidden;
  margin: 5px 0;
}

.deal-select{
  border: 1px solid #cdcdcd;
  display: block;
  font-size: 16px;
  padding: 5px;
  margin: 0 5px;
  background-color: white;
}