/* LocationList component */
.location-list{
  margin-top: 30px;
}

.location-list__street-input { 
  padding: 6px 0;
  margin: 0 0;
  font-size: 16px;
  width: 79%;
}

.location-list__location__star {
  padding-right: 25px;
}

.location-list__zip-input{
  font-size: 16px;
  padding: 6px 0;
  width: 85px;
  margin:10px 0 10px 25px;   

}

.location-list__add-button{
  background: #6196bd;
  color: white;
  border: black;
  padding: 5px 10px;
  margin: 0 5px 0 25px;
  height: 35px;
}
