@import './css/keyword_list';
@import './css/location_list';

.pagewrap {
    width: 80%;
    margin: auto;
}

/* NavButton component */
.navbuttons {
    float:right;
}

.navbuttons__button {
    background: rgb(97, 150, 189);
    color: white;
    border: black;
    padding: 5px 10px;
    margin: 5px;
}

/* GeneralInfo component */
.general-info {
    width:100%;
}

.general-info__logo{
    float:left;
    margin: 10px;
    width: 150px;
    height: 150px;
}

.general-info__text {
    margin-left: 170px;
}

.general-info__text__org-name {
    width: 100%;
    padding: 6px 0;
    margin: 10px 0;
    font-size: 16px;
}

.general-info__text__org-desc {
    width: 100%;
    height: 100px;
    font-size: 16px;
}

/* CheckMap component */
.check-map__text {
    float: left;
}
.check-map__button {
    background: rgb(97, 150, 189);
    color: white;
    border: black;
    padding: 5px 10px;
    margin: 15px 5px 0 25px;
}




