.login_forgot{
  font-family: 'Fjalla One', sans-serif;
  font-size: 14pt;
  text-decoration: none;
  font:black;
  float:left;
  margin: 15px 0 0 10px;
}

.login_forgot:hover{
  cursor: pointer;
}

.main_card {
  background-color: #fff;
}

.login_buttons .karma_button {
  margin-bottom: 20px;
}

.fb_button {
  box-shadow: rgba(58, 87, 145, 0.57647) 0px 1px 8px, rgba(58, 87, 145, 0.6647) 0px 1px 4px !important;
  background-color: white !important;
}
